#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card-login {
    margin: 40px;
}

#card-content-login {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.div-formulario-login {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-login {
    width: 100px;
    height: 100px;
}

#label-esqueci {
    margin: 4px;
    cursor: pointer;
    color: #006edc;
    text-decoration: underline;
}
